<% include partials/header.ejs %>

  <h3>Search Page</h3>

  <form action="/results" method="GET">
    <input type="text" placeholder="Search" name="search">
    <input type="submit" class="btn">
  </form>

  <% include partials/footer.ejs %>